div.qusar-note
{
	background: #fff;
	box-shadow: 0 0.1em 0.75em 0 rgba(0, 0, 0, 0.25);
	height: 10em;
	left: 100px;
	position: absolute;
	top: 100px;
	transition: box-shadow 0.2s;
	width: 10em;
	z-index: 9999;
}

div.qusar-note:active
{
	box-shadow: 0 0.25em 1.25em 0 rgba(0, 0, 0, 0.25);
	cursor: move;
}